@import "tailwindcss";

@layer utilities {
  .grid-pattern {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
                      linear-gradient(to top, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 20px 20px;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-40px);
    }
  }

  .animate-fadeOut {
    animation: fadeOut 3s ease-out forwards;
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}


.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 16px !important;
  height: 4px !important;
  border-radius: 5px !important;
  margin: 0 6px !important;
}

.swiper-pagination {
  bottom: 2px !important;
}

.swiper-pagination-bullet-active {
  background: #4F46E5 !important; /* Indigo-600 */
}


/* Hide scrollbar for all scrollable elements with this class */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}



@keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(10px); }
}

.animate-fade-in-out {
  animation: fade-in-out 3s ease forwards;
}


.custom-toast .Toastify__toast {
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 0.95rem;
  color: #080000;
  background-color: #1f2937; /* Tailwind's gray-800 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.custom-toast .Toastify__toast--success {
  background-color: #fafcfb; /* green-600 */
}

.custom-toast .Toastify__toast--info {
  background-color: #fcfdfd; /* blue-600 */
}

.custom-toast .Toastify__toast--error {
  background-color: #fcfafa; /* red-600 */
}
